---
import "../styles/global.css";
import I18nScript from "../components/I18nScript.astro";
const { title = "KETOGO" } = Astro.props;
---
<!doctype html>
<html lang="en" class="h-full" data-lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{title}</title>
  </head>
  <body class="min-h-full">
    <I18nScript />
    <slot />
  </body>
</html>
